* {
    box-sizing: border-box;
    font-family: cursive;
  }
  body {
    margin: 0;
    font-family: sans-serif;
    background-color: white;
  }
  .header {
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
    background:linear-gradient(rgb(177, 55, 55),rgb(197, 167, 85));
    color: black;
    border-bottom: 4px solid rgb(29, 78, 29);
  }
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 2000px;
    margin: 0 auto;
    padding: 20px 10px;
  }
  .container img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
  }